:root {
	/* Dark green */
	/* --color-1: oklch(0.2 0.5 120); */
	/* Pink */
	/* --accent-light: oklch(0.7 0.11 330); */
	/* blue */
	--accent-light: oklch(0.7 0.3 240);
	/* --color: oklch(0.8 0.1 80); */
	/* --color-1: oklch(0.3 0.3 240); */
	/* --color-1: #4b92ec; */
	--accent-dark: oklch(from var(--accent-light) calc(1 - l) c h);
	--accent: light-dark(var(--accent-dark), var(--accent-light));
	--bg: light-dark(color-mix(#e5e5e5, var(--accent-light) 5%), color-mix(#212121, var(--accent-dark) 5%));
	--neutral: oklch(50% 0 0);
}

html {
	color-scheme: light dark;
	background-color: var(--bg);
	color: var(--text-tertiary);
}

body {
	font-family: system-ui;
	font-size: 1.125rem;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

main {
	width: min(75ch, 100% - 4rem);
	margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
a {
	--text-bg: var(--_bg, var(--bg));
	--text-primary: color-mix(contrast-color(var(--text-bg)), var(--neutral) 15%);
	--text-secondary: oklch(from var(--text-primary) l c h / 0.78);
	--text-tertiary: oklch(from var(--text-primary) l c h / 0.65);

	color: var(--text-primary);

	&[data-text="primary"] {
		color: var(--text-primary);
	}

	&[data-text="secondary"] {
		color: var(--text-secondary);
	}

	&[data-text="tertiary"] {
		color: var(--text-tertiary);
	}
}


button {
	color: var(--color-2);
}

button {
	&[data-variant="primary"] {
		--surface: var(--accent);
		color: color-mix(contrast-color(var(--surface)), var(--neutral) 10%);

		&:is(:focus-visible, :hover) {
			background-color: oklch(from var(--surface) l c h / 0.78);
		}
	}

	&[data-variant="secondary"] {
		--surface: oklch(from var(--accent) l c h / 0.65);
		color: color-mix(contrast-color(var(--surface)), var(--neutral) 10%);

		&:is(:focus-visible, :hover) {
			background-color: oklch(from var(--surface) l c h / 0.5);
		}
	}

	&[data-variant="destructive"] {
		--surface: oklch(0.4 0.3 0);

		&:is(:focus-visible, :hover) {
			background-color: oklch(from var(--surface) calc(l * 0.8) calc(c * 1.2) h);
		}
	}

	--_surface: var(--surface, #fff);
	border-radius: 100vw;
	padding-inline: 1.2em;
	padding-block: 0.7em;
	color: color-mix(contrast-color(var(--_surface)), var(--neutral) 10%);
	background-color: var(--_surface);
	box-sizing: border-box;
	border: none;
	cursor: pointer;

	&[data-style="outline"] {
		color: color-mix(contrast-color(var(--bg)), var(--neutral) 10%);
		background-color: oklch(from var(--_surface) l c h / 0.1);
		border: 2px solid var(--_surface);

		&:is(:focus-visible, :hover) {
			background-color: oklch(from var(--_surface) l c h / 0.2);
		}
	}
}

.flex {
	display: flex;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
